.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 150px;
}

.copyright {
  display: flex;
  width: 170px;
  justify-content: space-between;
  align-items: center;

  >small {
    font: inherit;
  }
}

.social-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 188px;
}

.social-link {
  display: block;
  width: 32px;
  height: 32px;

  background-color: $text-color;
  -webkit-mask-size: cover;
  mask-size: cover;
  transition: background-color 0.6s ease-in;

  &:hover,
  &:focus {
    background-color: $brand-color;
  }
}

.instagram-link {
  -webkit-mask-image: url("../assets/svg/instagram-white.svg");
  mask-image: url("../assets/svg/instagram-white.svg");
}

.facebook-link {
  -webkit-mask-image: url("../assets/svg/facebook-white.svg");
  mask-image: url("../assets/svg/facebook-white.svg");
}

.twitter-link {
  -webkit-mask-image: url("../assets/svg/twitter-white.svg");
  mask-image: url("../assets/svg/twitter-white.svg");
}

.pinterest-link {
  -webkit-mask-image: url("../assets/svg/pinterest-white.svg");
  mask-image: url("../assets/svg/pinterest-white.svg");
}
