.footer {
  @extend %flex-centered-items-space-btw;
  height: 150px;
}

.copyright {
  @extend %flex-centered-items-space-btw;
  width: 188px;
  padding-right: 20px;

  >small {
    font: inherit;
  }
}

.social-links {
  @extend %flex-centered-items-space-btw;
  width: 188px;
}

.social-link {
  display: block;
  width: 32px;
  height: 32px;

  @extend %transition;
}

.instagram-link {
  @include mask("../assets/svg/instagram-white.svg");
}

.facebook-link {
  @include mask("../assets/svg/facebook-white.svg");
}

.twitter-link {
  @include mask("../assets/svg/twitter-white.svg");
}

.pinterest-link {
  @include mask("../assets/svg/pinterest-white.svg");
}
