.header {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1;

    width: 100%;
    height: 90px;
}

.container-header {
  @extend %flex-centered-items;

  background: linear-gradient(180deg, $bg-color 20%, transparent 50%);
}

.logo {
  width: 55px;
  height: 50px;

  @include mask("../assets/svg/logo-white.svg");

  @extend %transition;
}

.language-switcher {
  min-width: 70px;
}
