.header {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1;

    width: 100%;
    height: 90px;
}

.container-header {
  @extend %flex-centered-items;

  background: linear-gradient(180deg, $bg-color 20%, transparent 50%);

  @include media-tablet-portrait {
    padding-left: 60px;
    padding-right: 60px;
  }

  @include media-iphone5 {
    justify-content: space-between;
    padding: 25px;
  }
}

.logo {
  width: 55px;
  height: 50px;

  @include mask("../assets/svg/logo-white.svg");

  @extend %transition;

  @include media-tablet-portrait {
    width: 50px;
  }

  @include media-iphone5 {
    width: 45px;
    height: 40px;
  }
}

.language-switcher {
  display: flex;
  justify-content: space-between;
  min-width: 70px;

  @include media-tablet-portrait {
    width: 80px;
    margin-left: auto;
    margin-right: 0;

    &>span {
      margin-right: 8px;
    }
  }

  @include media-iphone5 {
    padding-right: auto;
  }
}
