.button {
  width: 220px;
  height: 55px;

  background-color: transparent;
  border: 2px solid $brand-color;
  cursor: pointer;

  transition: all 0.4s linear;

  &:visited {
    transform: scale(1);
    box-shadow: none;
  }

  &:hover,
  &:focus {
    box-shadow: .3rem .3rem .3rem rgba(189, 174, 130, .6);
    transform: scale(.96);
  }

  &:active {
    transform: scale(1);
  }

  &_colored {
    background-color: $brand-color;
  }

  &_price {
    margin-top: 30px;
  }

  &_form {
    margin-top: 20px;
  }
}


