.contacts {
  width: calc(100% + 2.5rem);
  height: 43.75rem;
  margin: 0 -1.25rem;
  padding-top: 3.75rem;
  padding-right: 1.25rem;

  background: url(../assets/img/hero-additional-photo.jpg) 50% 50% no-repeat;
  background-size: auto 700px;
}

.form-section {
  width: 28.12rem;
  height: 28.12rem;
  margin-left: auto;
}


.last-section-title {
  margin: 0;
}

.contact-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  margin-top: 2.5rem;

  &>input,
  &>textarea {
    width: 100%;
    margin-bottom: 1.2rem;
    padding: 0 1.25rem;

    font: $conact-form-font;
    color: $text-color;

    background-color: transparent;
    border: 2px solid $brand-color;
    border-radius: none;
    caret-color: $text-color;

    resize: none;
    @extend %transition;

    &::placeholder {
      font: $conact-form-font;
      color: $brand-color;
    }

    &:focus {
      color: $text-color;

      // background-color: $brand-color;
      outline: 1px solid $text-color;
      box-shadow: 0.4rem 0.4rem 0.5rem rgba($brand-color, 0.6);

      &::placeholder {
        color: $text-color;
      }
    }
  }
}

