.main {
  margin: 0 auto;

  background: url(../assets/img/hero-main-photo.jpg) 50% 5.63rem no-repeat;

  @include media-small-medium {
    background: url(../assets/img/hero-main-photo-media-small.jpg) 50% 5.63rem no-repeat;
  }

  @include media-small {
    background-position-x: right;
  }
}

.article__container {
  margin-top: -5.63rem;
  border-top: 5.63rem solid transparent;
}

.hero-about {
  display: inline-flex;
  flex-direction: column;
  align-items: start;
  margin: 15.94rem auto 20.63rem 3.75rem;

  @include media-small-medium {
    margin: 10.5rem auto 9.5rem 2.5rem;
  }

  @include media-small {
    align-items: center;
    margin: 15.94rem auto 2rem;
  }
}

.main-title {
  margin: 0;

  @include media-small {
    text-align: center;
  }
}

.main__description {
  max-width: 29.38rem;
  margin: 0 0 1.25rem 0;
  padding: 0.31rem 0;

  @include media-small-medium {
    max-width: 24.5rem;
    margin: 1rem 0 3.35rem 0;
  }

  @include media-small {
    text-align: center;
  }
}
