.galleries-list {
  @extend %flex-centered-justify;
  flex-wrap: wrap;
  gap: 0.31rem;
}

.portfolio-gallery {
  @extend %flex-centered-justify;
  flex-wrap: wrap;
  gap: 1.56rem;
  margin: 3.75rem auto 0;
}

