.skills-list {
  @extend %flex-centered-items-space-btw;
  flex-wrap: wrap;
  gap: 2.5rem;
  margin: 0 auto;
  padding: 0 0.63rem;

  @include media-desktop-large {
    justify-content: center;
    row-gap: 4rem;
    column-gap: 2.75rem;
    margin-bottom: 4.4rem;
  }

  @include media-phone {
    margin-bottom: 2rem;
  }
}

.skill-item {
  width: 18.75rem;
  padding: 0 0.63rem;

  text-align: center;

  @include media-tablet-portrait {
    padding: 0 0.78rem 0 0.53rem;
  }
}

.skill-description_title {
  margin: 2.38rem auto 1.25rem;

  @include media-tablet-portrait {
    margin: 1.125rem auto 0;
  }
}

.skill-description_text {
  margin-bottom: 0.55rem;

  @include media-tablet-portrait {
    margin-top: 1.38rem;

    line-height: 1.38rem;
  }
}
