.skills-list {
  @extend %flex-centered-items-space-btw;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 0 0.63rem;
}

.skill-item {
  width: 18.75rem;
  padding: 0 0.63rem;

  text-align: center;
}

.skill-description_title {
  margin: 2.38rem auto 1.38rem;
}

.skill-description_text {
  margin-bottom: 0.31rem;
}
