.container-video {
  @include media-small-medium {
    padding-left: 0;
    padding-right: 0;

    >.section-title {
      width: calc(100% / 2.1);
      margin: 6.25rem auto 4.4rem;

      @include media-medium-small {
        width: calc((100% / 1.2) - 40px);
        margin: 4rem auto 4rem;
      }
    }
  }
}

.video-presentation {
  position: relative;

  width: 100%;
  height: calc(100vw / 2.73);
  margin: 0 auto;

  background: url(../assets/img/wedding-videos-poster.jpg) 50% 50% no-repeat;
  background-size: cover;

  @include media-small-medium {
    width: 100%;
    height: calc(100vw / 1.85);

    background: url(../assets/img/wedding-videos-poster-small.jpg) 50% 50% no-repeat;
    background-position: 50% 50%;
  }

  @include media-medium-small {
    height: calc(100vw / 1.2);
  }
}

.play-video-button {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  width: 130px;
  height: 130px;
  margin: auto;

  @include mask("../assets/svg/play-button-for-video-player-white.svg");
  border-radius: 50%;
  border-color: transparent;
  cursor: pointer;

  @extend %transition;

  &:hover,
  &:focus {
    transform: translateZ(0) scale(.9);
  }

  &:active {
    transform: translateZ(0) scale(1);
  }

  @include media-small-medium {
    width: 65px;
    height: 65px;
  }
}
