.video-presentation {
  position: relative;

  width: 100%;
  height: calc(100vw / 2.73);
  margin: 0 auto;

  background: url(../assets/img/wedding-videos-poster.jpg) 50% 50% no-repeat;
  background-size: cover;
}

.play-video-button {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  width: 130px;
  height: 130px;
  margin: auto;

  background: url(../assets/svg/play-button-for-video-player-white.svg) 50% 50% no-repeat;
  border: none;
  cursor: pointer;

  transition: all .4s linear;

  &:hover,
  &:focus {
    background: url(../assets/svg/play-button-for-video-player-gold.svg) 50% 50% no-repeat;
    transform: scale(.9);
  }
}
