/// For interactive icons .svg

@mixin mask(
  $image-url,
  $mask-size: cover,
  $bg-color: $text-color,
  $hover-color: $brand-color
  ) {
  // If you don't want a blue square when clicking on svg on a mobile device
  // use the property '-webkit-tap-highlight-color'
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  background-color: $bg-color;
  background-position: center;
  -webkit-mask-image: url("#{$image-url}");
  mask-image: url("#{$image-url}");
  -webkit-mask-size: $mask-size;
  mask-size: $mask-size;

  &:hover,
  &:focus {
    background-color: $hover-color;
  }

  &:active {
    background-color: darken($hover-color, 10%);
  }
}



/// Adaptive design
@mixin media-maximal {
    @media (max-width: $maximal-width) { @content; }
}

@mixin media-large {
    @media (max-width: $large-width) { @content; }
}

@mixin media-medium {
    @media (max-width: $medium-width) { @content; }
}

@mixin media-small-medium {
    @media (max-width: $small-medium-width) { @content; }
}

@mixin media-medium-small {
    @media (max-width: $medium-small-width) { @content; }
}

@mixin media-small {
    @media (max-width: $small-width) { @content; }
}

