/// Fonts 'Merriweather-Bold'
$title-font: normal 700 3.75rem/7.55rem "Merriweather-Bold";
$mobile-title-font: normal 400 2rem/4rem "Merriweather-Regular";
$section-title-font: normal 700 2.5rem/5rem "Merriweather-Bold";
$mobile-section-title-font: normal 700 2rem/2.5rem "Merriweather-Bold";
$section-subtitle-font: normal 700 1.75rem/3.5rem "Merriweather-Bold";
$price-font: normal 700 1.5rem/3rem "Merriweather-Bold";

/// Fonts 'Inter-Regular'
$text-font: normal 400 1.125rem/2.25rem "Inter-Regular";
$button-font: normal 400 1.25rem/2.5rem "Inter-Regular";
$navigation-font: normal 400 1.25rem/3.13rem "Inter-Regular";
$mobile-navigation-font: normal 400 2.18rem/4.5rem "Inter-Regular";
$conact-form-font: normal 400 1.25rem/2.9rem "Inter-Regular";

/// Fonts 'Inter-Bold'
$text-bold-font: normal 700 1.25rem/2.5rem "Inter-Bold";



/// Copy text color
/// @type Color
$text-color: #ffffff !default;

/// Main brand color
/// @type Color
$brand-color: #bdae82 !default;

/// Background color
/// @type Color
$bg-color: #000000 !default;

/// Media controls color
/// @type Color
$controls-color: #b3b3b3 !default;

/// Text light theme color
/// @type Color
$text-light-theme-color: #1c1c1c !default;

/// Background light theme color
/// @type Color
$bg-light-theme-color: #ffffff !default;

/// Container's maximum width
/// @type Length
$max-width: 1440px !default;

