html {
  box-sizing: border-box;
  font-size: 1em;

  background-color: $bg-color;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/**
 * Basic styles for links
 */
a {
  text-decoration: none;
}
