@font-face {
  font-family: "Inter-Regular";
  src:
    local("Inter-regular"),
    local("Inter Regular"),
    local("InterRegular"),
    url("../assets/fonts/Inter-Regular.woff2"),
    url("../assets/fonts/Inter-Regular.woff") format("woff"),
    url("../assets/fonts/Inter-Regular.ttf") format("ttf");
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Inter-Bold";
  src:
    local("Inter-bold"),
    local("Inter Bold"),
    local("InterBold"),
    url("../assets/fonts/Inter-Bold.woff2") format("woff2"),
    url("../assets/fonts/Inter-Bold.woff") format("woff"),
    url("../assets/fonts/Inter-Bold.ttf") format("ttf");
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Merriweather-Bold";
  src:
    local("Merriweather-bold"),
    local("Merriweather Bold"),
    local("MerriweatherBold"),
    url("../assets/fonts/Merriweather-Bold.woff2") format("woff2"),
    url("../assets/fonts/Merriweather-Bold.woff") format("woff"),
    url("../assets/fonts/Merriweather-Bold.otf") format("otf");
  font-display: swap;
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Merriweather-Regular";
  src:
    local("Merriweather-Regular"),
    local("Merriweather Regular"),
    local("MerriweatherRegular"),
    url("../assets/fonts/Merriweather-Regular.woff2") format("woff2"),
    url("../assets/fonts/Merriweather-Regular.woff") format("woff"),
    url("../assets/fonts/Merriweather-Regular.otf") format("otf");
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}
