.hamburger-button {
    position: relative;
    z-index: 3;

    display: none;
    width: 50px;
    height: 28px;
    margin-left: 20px;
    margin-right: 5px;

    background-color: transparent;
    border: transparent;
    outline: none;

    @include media-tablet-portrait {
      display: inline-block;
      margin-left: 0;
      margin-right: 0;
    }

    @include media-phone {
      width: 45px;
      height: 24px;
    }

    &:before,
    &:after,
    .hamburger-button__line {
      content: "";
      position: absolute;
      left: 0;
      display: inline-block;
      width: 100%;
      height: 3px;

      background-color: $text-color;
      border-radius: 5px;

      @extend %transition-short;
    }

    &:before {
      top: 0;
    }

    &:after {
      bottom: 0;
    }

    span {
      top: calc(50% - 1.5px);
    }

  &.active-hamburger-button {
    margin-right: 8px;

    span {
      opacity: 0;
    }
    &:before,
    &:after {
      top: 50%;
    }
    &:before {
      width: 120%;
      transform: rotate(45deg);
    }
    &:after {
      width: 120%;
      transform: rotate(-45deg);
    }

    @include media-phone {
      margin-right: -20px;
    }

    @include media-iphone5 {
      margin-right: 0;
    }
  }
}

.hamburger-button-light {
  &:before,
  &:after,
  .hamburger-button__line {
    background-color: $text-light-theme-color;
  }
}
