/**
 * Basic typography style for copy text
 */
body {
  font: $text-font;
  color: $text-color;
}

.nav-list,
.language-switcher {
  font: $navigation-font;
}

.nav-list {
  @include media-small-medium {
    font: $mobile-navigation-font;
  }
}

.language-switcher {
  letter-spacing: 1.2px;
}

.main-title {
  font: $title-font;

  @include media-small-medium {
    font: $mobile-title-font;
  }
}

.main__description {
  font: $button-font;

  @include media-small-medium {
    line-height: 1.5rem;
  }
}

.button {
  font: $button-font;
  color: $brand-color;

  &:hover,
  &:focus {
    color: $text-color;
  }

  &:active {
    color: $bg-color;
  }
}

.button_colored {
  color: $bg-color;
}

.section-title,
.last-section-title {
  font: $section-title-font;
  color: $brand-color;

  @include media-small-medium {
    font: $mobile-section-title-font;
  }
}

.skill-description_title {
  font: $text-bold-font;
}

.price-list {

  &__card-title {
    font: $section-subtitle-font;
  }

  &__card-price {
    font: $price-font;
    color: $brand-color;
  }
}

.footer {
  font: $navigation-font;
}
